<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta name="page-view-size" content="640*530">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/gdds.css"/>
    <script type="text/javascript" src="/assets/js/gdds.js"></script>

    <script type="text/javascript">
        $d.isAuthed=<%-isAuthed%>;
        $d.backUrl='<%-backUrl%>';
        $d.interactData=<%-interactData%>;

    </script>
    <script type="text/javascript" src="/assets/theme/gplan/jiamian/js/data.js"></script>
    <script type="text/javascript" src="/assets/theme/gplan/jiamian/js/config.js"></script>
    <script type="text/javascript" src="/assets/theme/gplan/jiamian/js/main.js"></script>

</head>
<body leftmargin="0" topmargin="0" bgcolor="transparent" style="background:url('/assets/theme/gplan/jiamian/img/bg_0.jpg') no-repeat">
<div id="log" style="background: #ffffff"></div>

<!--返回-->
<div style="position:absolute;left:555px;top:20px;"><img id="back"></div>



<!--王子-->
<div style="position:absolute;left:35px;top:45px;"><img id="btn_prince"></div>
<!--公主-->
<div style="position:absolute;left:350px;top:40px;"><img id="btn_princess"></div>

<!--王子华丽转身-->
<div style="position:absolute;left:170px;top:260px;"><img id="btn_0"></div>
<!--公主华丽转身-->
<div style="position:absolute;left:330px;top:260px;"><img id="btn_1"></div>






<!--底部专题-->
<div style="position:absolute;left:60px;top:380px;"><img id="btn_foot_0"></div>
<div style="position:absolute;left:230px;top:380px;"><img id="btn_foot_1"></div>
<div style="position:absolute;left:410px;top:380px;"><img id="btn_foot_2"></div>



<!--收集星星面板-->

<div style="position:absolute;left:160px;top:60px;"><img id="bg_0"></div>
<div style="position:absolute;left:250px;top:355px;"><img id="btn_get_star"></div>
<div style="position:absolute;left:240px;top:140px;"><img id="btn_star_title"></div>
<div style="position:absolute;left:210px;top:170px;"><img id="btn_star_1"></div>
<div style="position:absolute;left:290px;top:170px;"><img id="btn_star_2"></div>
<div style="position:absolute;left:370px;top:170px;"><img id="btn_star_3"></div>
<div style="position:absolute;left:210px;top:270px;"><img id="btn_star_4"></div>
<div style="position:absolute;left:290px;top:270px;"><img id="btn_star_5"></div>
</body>
</html>