<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta name="page-view-size" content="640*530">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/gdds.css"/>
    <script type="text/javascript" src="/assets/js/gdds.js"></script>

    <script type="text/javascript">
        $d.backUrl='<%-backUrl%>';
        $d.isAuthed=<%-isAuthed%>;
        $d.openNum=<%-openNum%>;
        $d.interactData=<%-interactData%>;
    </script>
    <script type="text/javascript" src="/assets/theme/gplan/home/js/config.js"></script>
    <script type="text/javascript" src="/assets/theme/gplan/home/js/main.js"></script>
</head>
<body leftmargin="0" topmargin="0" bgcolor="transparent" style="background:url('/assets/theme/gplan/home/img/bg.jpg') no-repeat">
    <div id="log" style="background: #ffffff"></div>

    <div style="position:absolute;left:555px;top:15px;"><img id="back_btn"/></div>

    <div style="position:absolute;left:38px;top:296px;"><img id="x1_btn"/></div>
    <div style="position:absolute;left:132px;top:296px;"><img id="x2_btn"/></div>
    <div style="position:absolute;left:226px;top:296px;"><img id="x3_btn"/></div>
    <div style="position:absolute;left:319px;top:296px;"><img id="x4_btn"/></div>
    <div style="position:absolute;left:413px;top:296px;"><img id="x5_btn"/></div>
    <div style="position:absolute;left:507px;top:296px;"><img id="x6_btn"/></div>

    <div style="position:absolute;left:34px;top:234px;"><img id="b1_btn"/></div>
    <div style="position:absolute;left:516px;top:234px;"><img id="b2_btn"/></div>
    <div style="position:absolute;left:240px;top:21px;"><img id="open_btn"/></div>

    <div id="num" style="position: absolute;left:289px;top:256px;font-size: 18px;font-weight: bold;color: #bd1600"></div>

    <!--公主/王子开启面板-->
    <div style="position:absolute;left:106px;top:25px;"><img id="panel0_bg"/></div>
    <div style="position:absolute;left:245px;top:340px;"><img id="begin0_btn"/></div>
    <!--王子开启面板-->
    <div style="position:absolute;left:106px;top:25px;"><img id="panel1_bg"/></div>
    <div style="position:absolute;left:187px;top:335px;"><img id="begin1_btn"/></div>
    <!--公主开启面板-->
    <div style="position:absolute;left:106px;top:25px;"><img id="panel2_bg"/></div>
    <div style="position:absolute;left:187px;top:340px;"><img id="begin2_btn"/></div>

</body>
</html>