<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>文字王国-第三集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="page-view-size" content="640*530">
    <link rel="stylesheet" type="text/css" href="/assets/css/gdds.css"/>
    <script type="text/javascript" src="/assets/interact/js/util.js"></script>
    <script type="text/javascript" src="/assets/interact/js/player.js"></script>
    <script type="text/javascript" src="/assets/interact/js/engine.js"></script>

    <script type="text/javascript">
        $d.backUrl='<%-backUrl%>';
        $d.isHD = <%-isHD%>;
        $d.mediaLink = '<%-mediaLink%>';
        $d.recom = <%-recommend%>;
    </script>
    <script type="text/javascript" src="/assets/interact/shizi/shizi_1_3/js/config.js"></script>
    <script type="text/javascript" src="/assets/interact/shizi/shizi_1_3/js/stage.js"></script>
    <script type="text/javascript" src="/assets/interact/shizi/shizi_1_3/js/main.js"></script>
</head>
<body leftmargin="0" topmargin="0" bgcolor="transparent">
    <div id="log"  style="background: #ffffff;position: absolute;top: 20px"></div>
    <!--pg0-->
    <div style="position:absolute;left:183px;top:362px;"><img id="p0b0"></div>
    <div style="position:absolute;left:286px;top:362px;"><img id="p0b1"></div>
    <div style="position:absolute;left:387px;top:362px;"><img id="p0b2"></div>

    <!--back page-->
    <div style="position:absolute;left:175px;top:147px;"><img id="pBb0"></div>
    <div style="position:absolute;left:257px;top:187px;"><img id="pBb1"></div>
    <div style="position:absolute;left:257px;top:272px;"><img id="pBb2"></div>

    <!--end page-->
    <div style="position:absolute;left:15px;top:60px;"><img id="pEb0"></div>
    <div style="position:absolute;left:260px;top:160px;"><img id="pEb1"></div>
    <div style="position:absolute;left:260px;top:220px;"><img id="pEb2"></div>
    <div style="position:absolute;left:40px;top:310px;"><img id="pEb3-bg"></div>
    <div style="position:absolute;left:180px;top:310px;"><img id="pEb4-bg"></div>
    <div style="position:absolute;left:320px;top:310px;"><img id="pEb5-bg"></div>
    <div style="position:absolute;left:460px;top:310px;"><img id="pEb6-bg"></div>
    <div style="position:absolute;left:40px;top:310px;"><img id="pEb3"></div>
    <div style="position:absolute;left:180px;top:310px;"><img id="pEb4"></div>
    <div style="position:absolute;left:320px;top:310px;"><img id="pEb5"></div>
    <div style="position:absolute;left:460px;top:310px;"><img id="pEb6"></div>

    <!--skip page-->
    <div style="position:absolute;left:15px;top:75px;"><img id="pSb0"></div>
    <div style="position:absolute;left:550px;top:445px;"><img id="pSb1"></div>
    <div style="position:absolute;left:260px;top:283px;"><img id="pSb2"></div>
    <div style="position:absolute;left:40px;top:130px;"><img id="pSb3-bg"></div>
    <div style="position:absolute;left:180px;top:130px;"><img id="pSb4-bg"></div>
    <div style="position:absolute;left:320px;top:130px;"><img id="pSb5-bg"></div>
    <div style="position:absolute;left:460px;top:130px;"><img id="pSb6-bg"></div>
    <div style="position:absolute;left:40px;top:130px;"><img id="pSb3"></div>
    <div style="position:absolute;left:180px;top:130px;"><img id="pSb4"></div>
    <div style="position:absolute;left:320px;top:130px;"><img id="pSb5"></div>
    <div style="position:absolute;left:460px;top:130px;"><img id="pSb6"></div>

    <!--tip page 不注册到engine-->
    <div style="position:absolute;left:0px;top:0px;"><img id="pTb0"></div>

    <!-- 播放器UI -->
    <!-- 静音提示 -->
    <div style="position:absolute;left:45px;top:376px;">
        <img id='mute_tips'/>
    </div>
    <!-- 音量条提示 -->
    <div id='volbar_tips'>
        <div style="position:absolute;left:130px;top:373px">
            <img id='volbar_bg'/>
        </div>
        <div id='volbar_dot' style="position:absolute;left:186px;top:382px">
            <img id='volbar_dg'/>
        </div>
        <div id='volbar_num' style="position:absolute;left:457px;top:390px;color:#7d4001;font-size:25px;">
        </div>
    </div>
</body>
</html>