<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta name="page-view-size" content="640*530">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/gdds.css"/>
    <script type="text/javascript" src="/assets/js/gdds.js"></script>

    <script type="text/javascript">
        $d.resource=<%-resource%>;
        $d.isAuthed=<%-isAuthed%>;
        $d.backUrl='<%-backUrl%>';
        $d.interactData=<%-interactData%>;

    </script>
    <script type="text/javascript" src="/assets/theme/gplan/js/data.js"></script>
    <script type="text/javascript" src="/assets/theme/gplan/licai/js/config.js"></script>
    <script type="text/javascript" src="/assets/theme/gplan/licai/js/main.js"></script>

</head>
<body leftmargin="0" topmargin="0" bgcolor="transparent" style="background:url('/assets/theme/gplan/licai/img/bg_l.jpg') no-repeat">
<div id="log" style="background: #ffffff"></div>

<!--返回-->
<div style="position:absolute;left:555px;top:20px;"><img id="back"></div>

<!--彩蛋-->
<div style="position:absolute;left:65px;top:35px;"><img id="nav_0"></div>


<!--领取理财之星按钮-->
<div style="position:absolute;left:205px;top:205px;"><img id="btn_0"></div>

<!--底排6个按钮-->
<div style="position:absolute;left:22px;top:290px;"><img id="btn_footer_0"></div>
<div style="position:absolute;left:122px;top:290px;"><img id="btn_footer_1"></div>
<div style="position:absolute;left:222px;top:290px;"><img id="btn_footer_2"></div>
<div style="position:absolute;left:322px;top:290px;"><img id="btn_footer_3"></div>
<div style="position:absolute;left:422px;top:290px;"><img id="btn_footer_4"></div>
<div style="position:absolute;left:522px;top:290px;"><img id="btn_footer_5"></div>

<!--收集星星面板-->

<div style="position:absolute;left:80px;top:60px;"><img id="bg_0"></div>
<div style="position:absolute;left:240px;top:365px;"><img id="btn_index"></div>
<div style="position:absolute;left:145px;top:185px;"><img id="btn_star_index"></div>
<div style="position:absolute;left:260px;top:170px;"><img id="btn_star_1"></div>
<div style="position:absolute;left:340px;top:170px;"><img id="btn_star_2"></div>
<div style="position:absolute;left:420px;top:170px;"><img id="btn_star_3"></div>
<div style="position:absolute;left:260px;top:270px;"><img id="btn_star_4"></div>
<div style="position:absolute;left:340px;top:270px;"><img id="btn_star_5"></div>


<!--彩蛋面板-->
<div style="position:absolute;left:170px;top:60px;"><img id="bg_1"></div>
<div style="position:absolute;left:280px;top:150px;"><img id="game_pic"></div>
<div style="position:absolute;left:270px;top:310px;"><img id="btn_play"></div>
<div style="position:absolute;left:460px;top:70px;"><img id="btn_back"></div>


</body>
</html>